body {
    text-align: center;
}

.btn {
    border-radius: 1rem;
    border: 0.5rem black solid; 
    height: 150px;
    width: 150px;
    margin: 1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: #d95980;
}

.yellow {
    background-color: #f99b45;
}

.green {
    background-color: #63aac0;
}

.purple {
    background-color: #819ff9;
}

.gameflash {
    background-color: white;
}

.userflash {
    background-color: green;
}
